.image {
  height: 9rem;
  width: 9rem;
  transition: 0.5s;
}
.image:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.image-container {
  overflow: hidden;

  border-radius: 50%;
}
.container-item {
  display: flex;
  padding: 2rem;
  justify-content: start;
  gap: 3rem;
  align-items: center;
}
.secondary-heading {
  font-size: 2rem;
  margin-bottom: 10px;
}
.age {
  font-size: 1.5rem;
}
